/*<meta />*/

p
{
	margin-top: 0.00pt;
	margin-bottom: 2.40pt;
	font-family: Arial;
	font-size: 8pt;
	background-color: transparent;
	text-align: left;
	margin-top: 6.0pt;
	margin-bottom: 0.0pt;
	font-family: Arial, Verdana, agaramond;
	font-size: 10pt;
	margin-left: 0pt;
	margin-right: 0pt;
}

li
{
	font-family: Arial;
	font-size: 8pt;
	text-align: left;
	font-family: Arial, Verdana, agaramond;
	font-size: 10pt;
}

h1
{
	margin-right: 6.50pt;
	margin-top: 6.00pt;
	margin-bottom: 4.00pt;
	text-align: left;
	font-family: Arial;
	font-size: 12pt;
	color: #000080;
	font-family: "Comic Sans MS";
	font-weight: bold;
	font-size: 16.0pt;
	color: #00509f;
	margin-top: 5pt;
	margin-bottom: 5pt;
}

li.mc-H1
{
	text-align: left;
	font-family: Arial;
	font-size: 12pt;
	color: #000080;
	font-family: "Comic Sans MS";
	font-weight: bold;
	font-size: 16.0pt;
	color: #00509f;
}

h2
{
	margin-right: 6.50pt;
	margin-top: 6.00pt;
	margin-bottom: 4.00pt;
	text-align: left;
	font-family: Arial;
	font-size: 14pt;
	color: #0000ff;
	font-weight: bold;
	font-family: "Comic Sans MS";
	font-weight: normal;
	font-size: 16.0pt;
	color: #00509f;
}

li.mc-H2
{
	text-align: left;
	font-family: Arial;
	font-size: 14pt;
	color: #0000ff;
	font-weight: bold;
	font-family: "Comic Sans MS";
	font-weight: normal;
	font-size: 16.0pt;
	color: #00509f;
}

h3
{
	margin-right: 6.50pt;
	margin-top: 12.00pt;
	margin-bottom: 3.00pt;
	text-align: left;
	font-family: Arial;
	font-size: 14pt;
	color: #0000ff;
	font-weight: bold;
	color: #00509f;
	margin-top: 14pt;
	font-size: 12pt;
	font-family: Arial, Verdana, agaramond;
	margin-left: 0pt;
}

li.mc-H3
{
	text-align: left;
	font-family: Arial;
	font-size: 14pt;
	color: #0000ff;
	font-weight: bold;
	color: #00509f;
	font-size: 12pt;
	font-family: Arial, Verdana, agaramond;
}

h4
{
	margin-right: 6.50pt;
	margin-top: 0.00pt;
	margin-bottom: 2.40pt;
	text-align: left;
	font-family: Arial;
	font-size: 12pt;
	font-family: "Comic Sans MS";
	font-weight: normal;
	font-size: 12.0pt;
	color: #00509f;
	margin-top: 6pt;
	margin-bottom: 6pt;
	margin-left: 0pt;
	text-decoration: none;
}

li.mc-H4
{
	text-align: left;
	font-family: Arial;
	font-size: 12pt;
	font-family: "Comic Sans MS";
	font-weight: normal;
	font-size: 12.0pt;
	color: #00509f;
	text-decoration: none;
}

h5
{
	margin-right: 6.50pt;
	margin-top: 6.00pt;
	margin-bottom: 3.00pt;
	text-align: left;
	font-size: 9pt;
	font-size: 12.0pt;
	font-family: "Comic Sans MS", cursive;
	color: #00509f;
	margin-left: 0pt;
	font-weight: normal;
	font-style: normal;
}

li.mc-H5
{
	text-align: left;
	font-size: 9pt;
	font-size: 12.0pt;
	font-family: "Comic Sans MS", cursive;
	color: #00509f;
	font-weight: normal;
	font-style: normal;
}

h6
{
	margin-left: 5.75pt;
	margin-right: 6.50pt;
	margin-top: 12.00pt;
	margin-bottom: 3.00pt;
	text-align: left;
	font-family: Arial;
	font-size: 11pt;
	font-style: italic;
	font-family: Verdana, Arial, Helvetica;
	font-weight: bold;
	font-size: 12.0pt;
}

li.mc-H6
{
	text-align: left;
	font-family: Arial;
	font-size: 11pt;
	font-style: italic;
	font-family: Verdana, Arial, Helvetica;
	font-weight: bold;
	font-size: 12.0pt;
}

h6.Heading7
{
	margin-left: 5.75pt;
	margin-right: 6.50pt;
	margin-top: 12.00pt;
	margin-bottom: 3.00pt;
	text-align: left;
	font-family: Arial;
	font-size: 8pt;
}

li.mc-H6-CHeading7
{
	text-align: left;
	font-family: Arial;
	font-size: 8pt;
}

h6.Heading8
{
	margin-left: 5.75pt;
	margin-right: 6.50pt;
	margin-top: 12.00pt;
	margin-bottom: 3.00pt;
	text-align: left;
	font-family: Arial;
	font-size: 8pt;
	font-style: italic;
}

li.mc-H6-CHeading8
{
	text-align: left;
	font-family: Arial;
	font-size: 8pt;
	font-style: italic;
}

h6.Heading9
{
	margin-left: 5.65pt;
	margin-right: 6.50pt;
	margin-top: 12.00pt;
	margin-bottom: 3.00pt;
	text-align: left;
	font-family: Arial;
	font-size: 12pt;
	font-weight: bold;
	font-style: italic;
	color: #00509f;
}

li.mc-H6-CHeading9
{
	text-align: left;
	font-family: Arial;
	font-size: 12pt;
	font-weight: bold;
	font-style: italic;
	color: #00509f;
}

p.footnote-text
{
	margin-left: 5.75pt;
	margin-right: 6.50pt;
	margin-top: 0.00pt;
	margin-bottom: 2.40pt;
	text-align: left;
	font-family: Arial;
	font-size: 10pt;
}

li.footnote-text
{
	margin-left: 5.75pt;
	margin-right: 6.50pt;
	margin-top: 0.00pt;
	margin-bottom: 2.40pt;
	text-align: left;
	font-family: Arial;
	font-size: 10pt;
}

p.Normal-Indent
{
	margin-left: 36.00pt;
	margin-right: 6.50pt;
	margin-top: 0.00pt;
	margin-bottom: 2.40pt;
	text-align: left;
	font-family: Arial;
	font-size: 8pt;
}

li.Normal-Indent
{
	margin-left: 36.00pt;
	margin-right: 6.50pt;
	margin-top: 0.00pt;
	margin-bottom: 2.40pt;
	text-align: left;
	font-family: Arial;
	font-size: 8pt;
}

p.header
{
	margin-left: 5.75pt;
	margin-right: 6.50pt;
	margin-top: 0.00pt;
	margin-bottom: 2.40pt;
	text-align: left;
	font-family: Arial;
	font-size: 8pt;
}

li.header
{
	margin-left: 5.75pt;
	margin-right: 6.50pt;
	margin-top: 0.00pt;
	margin-bottom: 2.40pt;
	text-align: left;
	font-family: Arial;
	font-size: 8pt;
}

p.Margin
{
	margin-left: 28.35pt;
	margin-right: 28.35pt;
	margin-top: 0.00pt;
	margin-bottom: 0.00pt;
	text-align: left;
	font-size: 10pt;
}

li.Margin
{
	margin-left: 28.35pt;
	margin-right: 28.35pt;
	margin-top: 0.00pt;
	margin-bottom: 0.00pt;
	text-align: left;
	font-size: 10pt;
}

p.annotation-text
{
	margin-left: 5.75pt;
	margin-right: 6.50pt;
	margin-top: 0.00pt;
	margin-bottom: 2.40pt;
	text-align: left;
	font-family: Arial;
	font-size: 10pt;
}

li.annotation-text
{
	margin-left: 5.75pt;
	margin-right: 6.50pt;
	margin-top: 0.00pt;
	margin-bottom: 2.40pt;
	text-align: left;
	font-family: Arial;
	font-size: 10pt;
}

p.footer
{
	margin-left: 5.75pt;
	margin-right: 6.50pt;
	margin-top: 0.00pt;
	margin-bottom: 2.40pt;
	text-align: left;
	font-family: Arial;
	font-size: 8pt;
}

li.footer
{
	margin-left: 5.75pt;
	margin-right: 6.50pt;
	margin-top: 0.00pt;
	margin-bottom: 2.40pt;
	text-align: left;
	font-family: Arial;
	font-size: 8pt;
}

p.Letter-indent
{
	margin-left: 144.00pt;
	margin-top: 0.00pt;
	margin-bottom: 0.00pt;
	text-indent: -36.00pt;
	text-align: left;
	font-size: 11pt;
}

li.Letter-indent
{
	margin-left: 144.00pt;
	margin-top: 0.00pt;
	margin-bottom: 0.00pt;
	text-indent: -36.00pt;
	text-align: left;
	font-size: 11pt;
}

p.Table-figure-titles
{
	margin-top: 0.00pt;
	margin-bottom: 0.00pt;
	text-align: left;
	font-size: 10pt;
	font-weight: bold;
	font-style: italic;
}

li.Table-figure-titles
{
	margin-top: 0.00pt;
	margin-bottom: 0.00pt;
	text-align: left;
	font-size: 10pt;
	font-weight: bold;
	font-style: italic;
}

p.toc-1
{
	margin-left: 5.75pt;
	margin-right: 6.50pt;
	margin-top: 4.00pt;
	margin-bottom: 0.00pt;
	text-align: left;
	font-family: Arial;
	font-size: 8pt;
}

li.toc-1
{
	margin-left: 5.75pt;
	margin-right: 6.50pt;
	margin-top: 4.00pt;
	margin-bottom: 0.00pt;
	text-align: left;
	font-family: Arial;
	font-size: 8pt;
}

p.FolderLoc
{
	margin-left: 11.35pt;
	margin-right: 6.50pt;
	margin-top: 3.00pt;
	margin-bottom: 3.00pt;
	text-align: left;
	font-family: "Courier New";
	font-size: 10pt;
	font-weight: bold;
}

li.FolderLoc
{
	margin-left: 11.35pt;
	margin-right: 6.50pt;
	margin-top: 3.00pt;
	margin-bottom: 3.00pt;
	text-align: left;
	font-family: "Courier New";
	font-size: 10pt;
	font-weight: bold;
}

p.toc-2
{
	margin-left: 11.00pt;
	margin-right: 6.50pt;
	margin-top: 4.00pt;
	margin-bottom: 0.00pt;
	text-align: left;
	font-family: Arial;
	font-size: 8pt;
}

li.toc-2
{
	margin-left: 11.00pt;
	margin-right: 6.50pt;
	margin-top: 4.00pt;
	margin-bottom: 0.00pt;
	text-align: left;
	font-family: Arial;
	font-size: 8pt;
}

p.toc-3
{
	margin-left: 22.00pt;
	margin-right: 6.50pt;
	margin-top: 4.00pt;
	margin-bottom: 0.00pt;
	text-align: left;
	font-family: Arial;
	font-size: 8pt;
}

li.toc-3
{
	margin-left: 22.00pt;
	margin-right: 6.50pt;
	margin-top: 4.00pt;
	margin-bottom: 0.00pt;
	text-align: left;
	font-family: Arial;
	font-size: 8pt;
}

p.toc-4
{
	margin-left: 33.00pt;
	margin-right: 6.50pt;
	margin-top: 4.00pt;
	margin-bottom: 0.00pt;
	text-align: left;
	font-family: Arial;
	font-size: 8pt;
}

li.toc-4
{
	margin-left: 33.00pt;
	margin-right: 6.50pt;
	margin-top: 4.00pt;
	margin-bottom: 0.00pt;
	text-align: left;
	font-family: Arial;
	font-size: 8pt;
}

p.toc-5
{
	margin-left: 44.00pt;
	margin-right: 6.50pt;
	margin-top: 4.00pt;
	margin-bottom: 0.00pt;
	text-align: left;
	font-family: Arial;
	font-size: 8pt;
}

li.toc-5
{
	margin-left: 44.00pt;
	margin-right: 6.50pt;
	margin-top: 4.00pt;
	margin-bottom: 0.00pt;
	text-align: left;
	font-family: Arial;
	font-size: 8pt;
}

p.toc-6
{
	margin-left: 55.00pt;
	margin-right: 6.50pt;
	margin-top: 4.00pt;
	margin-bottom: 0.00pt;
	text-align: left;
	font-family: Arial;
	font-size: 8pt;
}

li.toc-6
{
	margin-left: 55.00pt;
	margin-right: 6.50pt;
	margin-top: 4.00pt;
	margin-bottom: 0.00pt;
	text-align: left;
	font-family: Arial;
	font-size: 8pt;
}

p.toc-7
{
	margin-left: 66.00pt;
	margin-right: 6.50pt;
	margin-top: 4.00pt;
	margin-bottom: 0.00pt;
	text-align: left;
	font-family: Arial;
	font-size: 8pt;
}

li.toc-7
{
	margin-left: 66.00pt;
	margin-right: 6.50pt;
	margin-top: 4.00pt;
	margin-bottom: 0.00pt;
	text-align: left;
	font-family: Arial;
	font-size: 8pt;
}

p.toc-8
{
	margin-left: 77.00pt;
	margin-right: 6.50pt;
	margin-top: 4.00pt;
	margin-bottom: 0.00pt;
	text-align: left;
	font-family: Arial;
	font-size: 8pt;
}

li.toc-8
{
	margin-left: 77.00pt;
	margin-right: 6.50pt;
	margin-top: 4.00pt;
	margin-bottom: 0.00pt;
	text-align: left;
	font-family: Arial;
	font-size: 8pt;
}

p.toc-9
{
	margin-left: 88.00pt;
	margin-right: 6.50pt;
	margin-top: 4.00pt;
	margin-bottom: 0.00pt;
	text-align: left;
	font-family: Arial;
	font-size: 8pt;
}

li.toc-9
{
	margin-left: 88.00pt;
	margin-right: 6.50pt;
	margin-top: 4.00pt;
	margin-bottom: 0.00pt;
	text-align: left;
	font-family: Arial;
	font-size: 8pt;
}

p.Closing
{
	margin-left: 212.60pt;
	margin-right: 6.50pt;
	margin-top: 4.00pt;
	margin-bottom: 0.00pt;
	text-align: left;
	font-family: Arial;
	font-size: 8pt;
}

li.Closing
{
	margin-left: 212.60pt;
	margin-right: 6.50pt;
	margin-top: 4.00pt;
	margin-bottom: 0.00pt;
	text-align: left;
	font-family: Arial;
	font-size: 8pt;
}

p.Date
{
	margin-left: 5.75pt;
	margin-right: 6.50pt;
	margin-top: 4.00pt;
	margin-bottom: 0.00pt;
	text-align: left;
	font-family: Arial;
	font-size: 8pt;
}

li.Date
{
	margin-left: 5.75pt;
	margin-right: 6.50pt;
	margin-top: 4.00pt;
	margin-bottom: 0.00pt;
	text-align: left;
	font-family: Arial;
	font-size: 8pt;
}

p.Document-Map
{
	margin-left: 5.75pt;
	margin-right: 6.50pt;
	margin-top: 4.00pt;
	margin-bottom: 0.00pt;
	text-align: left;
	background-color: #000080;
	font-family: Tahoma;
	font-size: 8pt;
}

li.Document-Map
{
	margin-left: 5.75pt;
	margin-right: 6.50pt;
	margin-top: 4.00pt;
	margin-bottom: 0.00pt;
	text-align: left;
	background-color: #000080;
	font-family: Tahoma;
	font-size: 8pt;
}

p.E-mail-Signature
{
	margin-left: 5.75pt;
	margin-right: 6.50pt;
	margin-top: 4.00pt;
	margin-bottom: 0.00pt;
	text-align: left;
	font-family: Arial;
	font-size: 8pt;
}

li.E-mail-Signature
{
	margin-left: 5.75pt;
	margin-right: 6.50pt;
	margin-top: 4.00pt;
	margin-bottom: 0.00pt;
	text-align: left;
	font-family: Arial;
	font-size: 8pt;
}

p.endnote-text
{
	margin-left: 5.75pt;
	margin-right: 6.50pt;
	margin-top: 4.00pt;
	margin-bottom: 0.00pt;
	text-align: left;
	font-family: Arial;
	font-size: 10pt;
}

li.endnote-text
{
	margin-left: 5.75pt;
	margin-right: 6.50pt;
	margin-top: 4.00pt;
	margin-bottom: 0.00pt;
	text-align: left;
	font-family: Arial;
	font-size: 10pt;
}

p.envelope-address
{
	margin-left: 144.00pt;
	margin-right: 6.50pt;
	margin-top: 4.00pt;
	margin-bottom: 0.00pt;
	text-align: left;
	font-family: Arial;
	font-size: 12pt;
}

li.envelope-address
{
	margin-left: 144.00pt;
	margin-right: 6.50pt;
	margin-top: 4.00pt;
	margin-bottom: 0.00pt;
	text-align: left;
	font-family: Arial;
	font-size: 12pt;
}

p.envelope-return
{
	margin-left: 5.75pt;
	margin-right: 6.50pt;
	margin-top: 4.00pt;
	margin-bottom: 0.00pt;
	text-align: left;
	font-family: Arial;
	font-size: 10pt;
}

li.envelope-return
{
	margin-left: 5.75pt;
	margin-right: 6.50pt;
	margin-top: 4.00pt;
	margin-bottom: 0.00pt;
	text-align: left;
	font-family: Arial;
	font-size: 10pt;
}

p.HTML-Address
{
	margin-left: 5.75pt;
	margin-right: 6.50pt;
	margin-top: 4.00pt;
	margin-bottom: 0.00pt;
	text-align: left;
	font-family: Arial;
	font-size: 8pt;
	font-style: italic;
}

li.HTML-Address
{
	margin-left: 5.75pt;
	margin-right: 6.50pt;
	margin-top: 4.00pt;
	margin-bottom: 0.00pt;
	text-align: left;
	font-family: Arial;
	font-size: 8pt;
	font-style: italic;
}

p.HTML-Preformatted
{
	margin-left: 5.75pt;
	margin-right: 6.50pt;
	margin-top: 4.00pt;
	margin-bottom: 0.00pt;
	text-align: left;
	font-family: "Courier New";
	font-size: 10pt;
}

li.HTML-Preformatted
{
	margin-left: 5.75pt;
	margin-right: 6.50pt;
	margin-top: 4.00pt;
	margin-bottom: 0.00pt;
	text-align: left;
	font-family: "Courier New";
	font-size: 10pt;
}

p.List
{
	margin-left: 14.15pt;
	margin-right: 6.50pt;
	margin-top: 4.00pt;
	margin-bottom: 0.00pt;
	text-indent: -14.15pt;
	text-align: left;
	font-family: Arial;
	font-size: 8pt;
}

li.List
{
	margin-left: 14.15pt;
	margin-right: 6.50pt;
	margin-top: 4.00pt;
	margin-bottom: 0.00pt;
	text-indent: -14.15pt;
	text-align: left;
	font-family: Arial;
	font-size: 8pt;
}

p.List-2
{
	margin-left: 28.30pt;
	margin-right: 6.50pt;
	margin-top: 4.00pt;
	margin-bottom: 0.00pt;
	text-indent: -14.15pt;
	text-align: left;
	font-family: Arial;
	font-size: 8pt;
}

li.List-2
{
	margin-left: 28.30pt;
	margin-right: 6.50pt;
	margin-top: 4.00pt;
	margin-bottom: 0.00pt;
	text-indent: -14.15pt;
	text-align: left;
	font-family: Arial;
	font-size: 8pt;
}

p.List-3
{
	margin-left: 42.45pt;
	margin-right: 6.50pt;
	margin-top: 4.00pt;
	margin-bottom: 0.00pt;
	text-indent: -14.15pt;
	text-align: left;
	font-family: Arial;
	font-size: 8pt;
}

li.List-3
{
	margin-left: 42.45pt;
	margin-right: 6.50pt;
	margin-top: 4.00pt;
	margin-bottom: 0.00pt;
	text-indent: -14.15pt;
	text-align: left;
	font-family: Arial;
	font-size: 8pt;
}

p.List-4
{
	margin-left: 56.60pt;
	margin-right: 6.50pt;
	margin-top: 4.00pt;
	margin-bottom: 0.00pt;
	text-indent: -14.15pt;
	text-align: left;
	font-family: Arial;
	font-size: 8pt;
}

li.List-4
{
	margin-left: 56.60pt;
	margin-right: 6.50pt;
	margin-top: 4.00pt;
	margin-bottom: 0.00pt;
	text-indent: -14.15pt;
	text-align: left;
	font-family: Arial;
	font-size: 8pt;
}

p.List-5
{
	margin-left: 70.75pt;
	margin-right: 6.50pt;
	margin-top: 4.00pt;
	margin-bottom: 0.00pt;
	text-indent: -14.15pt;
	text-align: left;
	font-family: Arial;
	font-size: 8pt;
}

li.List-5
{
	margin-left: 70.75pt;
	margin-right: 6.50pt;
	margin-top: 4.00pt;
	margin-bottom: 0.00pt;
	text-indent: -14.15pt;
	text-align: left;
	font-family: Arial;
	font-size: 8pt;
}

p.List-Bullet
{
	margin-left: 18.00pt;
	margin-right: 6.50pt;
	margin-top: 4.00pt;
	margin-bottom: 0.00pt;
	text-indent: -18.00pt;
	text-align: left;
	font-family: Arial;
	font-size: 8pt;
}

li.List-Bullet
{
	margin-left: 18.00pt;
	margin-right: 6.50pt;
	margin-top: 4.00pt;
	margin-bottom: 0.00pt;
	text-indent: -18.00pt;
	text-align: left;
	font-family: Arial;
	font-size: 8pt;
}

p.List-Bullet-2
{
	margin-left: 32.15pt;
	margin-right: 6.50pt;
	margin-top: 4.00pt;
	margin-bottom: 0.00pt;
	text-indent: -18.00pt;
	text-align: left;
	font-family: Arial;
	font-size: 8pt;
}

li.List-Bullet-2
{
	margin-left: 32.15pt;
	margin-right: 6.50pt;
	margin-top: 4.00pt;
	margin-bottom: 0.00pt;
	text-indent: -18.00pt;
	text-align: left;
	font-family: Arial;
	font-size: 8pt;
}

p.List-Bullet-3
{
	margin-left: 46.30pt;
	margin-right: 6.50pt;
	margin-top: 4.00pt;
	margin-bottom: 0.00pt;
	text-indent: -18.00pt;
	text-align: left;
	font-family: Arial;
	font-size: 8pt;
}

li.List-Bullet-3
{
	margin-left: 46.30pt;
	margin-right: 6.50pt;
	margin-top: 4.00pt;
	margin-bottom: 0.00pt;
	text-indent: -18.00pt;
	text-align: left;
	font-family: Arial;
	font-size: 8pt;
}

p.List-Bullet-4
{
	margin-left: 60.45pt;
	margin-right: 6.50pt;
	margin-top: 4.00pt;
	margin-bottom: 0.00pt;
	text-indent: -18.00pt;
	text-align: left;
	font-family: Arial;
	font-size: 8pt;
}

li.List-Bullet-4
{
	margin-left: 60.45pt;
	margin-right: 6.50pt;
	margin-top: 4.00pt;
	margin-bottom: 0.00pt;
	text-indent: -18.00pt;
	text-align: left;
	font-family: Arial;
	font-size: 8pt;
}

p.List-Bullet-5
{
	margin-left: 74.60pt;
	margin-right: 6.50pt;
	margin-top: 4.00pt;
	margin-bottom: 0.00pt;
	text-indent: -18.00pt;
	text-align: left;
	font-family: Arial;
	font-size: 8pt;
}

li.List-Bullet-5
{
	margin-left: 74.60pt;
	margin-right: 6.50pt;
	margin-top: 4.00pt;
	margin-bottom: 0.00pt;
	text-indent: -18.00pt;
	text-align: left;
	font-family: Arial;
	font-size: 8pt;
}

p.List-Continue
{
	margin-left: 14.15pt;
	margin-right: 6.50pt;
	margin-top: 4.00pt;
	margin-bottom: 6.00pt;
	text-align: left;
	font-family: Arial;
	font-size: 8pt;
}

li.List-Continue
{
	margin-left: 14.15pt;
	margin-right: 6.50pt;
	margin-top: 4.00pt;
	margin-bottom: 6.00pt;
	text-align: left;
	font-family: Arial;
	font-size: 8pt;
}

p.List-Continue-2
{
	margin-left: 28.30pt;
	margin-right: 6.50pt;
	margin-top: 4.00pt;
	margin-bottom: 6.00pt;
	text-align: left;
	font-family: Arial;
	font-size: 8pt;
}

li.List-Continue-2
{
	margin-left: 28.30pt;
	margin-right: 6.50pt;
	margin-top: 4.00pt;
	margin-bottom: 6.00pt;
	text-align: left;
	font-family: Arial;
	font-size: 8pt;
}

p.List-Continue-3
{
	margin-left: 42.45pt;
	margin-right: 6.50pt;
	margin-top: 4.00pt;
	margin-bottom: 6.00pt;
	text-align: left;
	font-family: Arial;
	font-size: 8pt;
}

li.List-Continue-3
{
	margin-left: 42.45pt;
	margin-right: 6.50pt;
	margin-top: 4.00pt;
	margin-bottom: 6.00pt;
	text-align: left;
	font-family: Arial;
	font-size: 8pt;
}

p.List-Continue-4
{
	margin-left: 56.60pt;
	margin-right: 6.50pt;
	margin-top: 4.00pt;
	margin-bottom: 6.00pt;
	text-align: left;
	font-family: Arial;
	font-size: 8pt;
}

li.List-Continue-4
{
	margin-left: 56.60pt;
	margin-right: 6.50pt;
	margin-top: 4.00pt;
	margin-bottom: 6.00pt;
	text-align: left;
	font-family: Arial;
	font-size: 8pt;
}

p.List-Continue-5
{
	margin-left: 70.75pt;
	margin-right: 6.50pt;
	margin-top: 4.00pt;
	margin-bottom: 6.00pt;
	text-align: left;
	font-family: Arial;
	font-size: 8pt;
}

li.List-Continue-5
{
	margin-left: 70.75pt;
	margin-right: 6.50pt;
	margin-top: 4.00pt;
	margin-bottom: 6.00pt;
	text-align: left;
	font-family: Arial;
	font-size: 8pt;
}

p.List-Number
{
	margin-left: 18.00pt;
	margin-right: 6.50pt;
	margin-top: 4.00pt;
	margin-bottom: 0.00pt;
	text-indent: -18.00pt;
	text-align: left;
	font-family: Arial;
	font-size: 8pt;
}

li.List-Number
{
	margin-left: 18.00pt;
	margin-right: 6.50pt;
	margin-top: 4.00pt;
	margin-bottom: 0.00pt;
	text-indent: -18.00pt;
	text-align: left;
	font-family: Arial;
	font-size: 8pt;
}

p.List-Number-2
{
	margin-left: 32.15pt;
	margin-right: 6.50pt;
	margin-top: 4.00pt;
	margin-bottom: 0.00pt;
	text-indent: -18.00pt;
	text-align: left;
	font-family: Arial;
	font-size: 8pt;
}

li.List-Number-2
{
	margin-left: 32.15pt;
	margin-right: 6.50pt;
	margin-top: 4.00pt;
	margin-bottom: 0.00pt;
	text-indent: -18.00pt;
	text-align: left;
	font-family: Arial;
	font-size: 8pt;
}

p.List-Number-3
{
	margin-left: 46.30pt;
	margin-right: 6.50pt;
	margin-top: 4.00pt;
	margin-bottom: 0.00pt;
	text-indent: -18.00pt;
	text-align: left;
	font-family: Arial;
	font-size: 8pt;
}

li.List-Number-3
{
	margin-left: 46.30pt;
	margin-right: 6.50pt;
	margin-top: 4.00pt;
	margin-bottom: 0.00pt;
	text-indent: -18.00pt;
	text-align: left;
	font-family: Arial;
	font-size: 8pt;
}

p.List-Number-4
{
	margin-left: 60.45pt;
	margin-right: 6.50pt;
	margin-top: 4.00pt;
	margin-bottom: 0.00pt;
	text-indent: -18.00pt;
	text-align: left;
	font-family: Arial;
	font-size: 8pt;
}

li.List-Number-4
{
	margin-left: 60.45pt;
	margin-right: 6.50pt;
	margin-top: 4.00pt;
	margin-bottom: 0.00pt;
	text-indent: -18.00pt;
	text-align: left;
	font-family: Arial;
	font-size: 8pt;
}

p.List-Number-5
{
	margin-left: 74.60pt;
	margin-right: 6.50pt;
	margin-top: 4.00pt;
	margin-bottom: 0.00pt;
	text-indent: -18.00pt;
	text-align: left;
	font-family: Arial;
	font-size: 8pt;
}

li.List-Number-5
{
	margin-left: 74.60pt;
	margin-right: 6.50pt;
	margin-top: 4.00pt;
	margin-bottom: 0.00pt;
	text-indent: -18.00pt;
	text-align: left;
	font-family: Arial;
	font-size: 8pt;
}

p.macro
{
	margin-top: 0.00pt;
	margin-bottom: 0.00pt;
	text-align: left;
	font-family: "Courier New";
	font-size: 10pt;
}

li.macro
{
	margin-top: 0.00pt;
	margin-bottom: 0.00pt;
	text-align: left;
	font-family: "Courier New";
	font-size: 10pt;
}

p.Message-Header
{
	margin-left: 56.70pt;
	margin-right: 6.50pt;
	margin-top: 4.00pt;
	margin-bottom: 0.00pt;
	text-indent: -56.70pt;
	text-align: left;
	background-color: #cccccc;
	font-family: Arial;
	font-size: 12pt;
}

li.Message-Header
{
	margin-left: 56.70pt;
	margin-right: 6.50pt;
	margin-top: 4.00pt;
	margin-bottom: 0.00pt;
	text-indent: -56.70pt;
	text-align: left;
	background-color: #cccccc;
	font-family: Arial;
	font-size: 12pt;
}

p.Normal-\000028Web\000029
{
	margin-left: 5.75pt;
	margin-right: 6.50pt;
	margin-top: 4.00pt;
	margin-bottom: 0.00pt;
	text-align: left;
	font-size: 12pt;
}

li.Normal-\000028Web\000029
{
	margin-left: 5.75pt;
	margin-right: 6.50pt;
	margin-top: 4.00pt;
	margin-bottom: 0.00pt;
	text-align: left;
	font-size: 12pt;
}

p.table-of-authorities
{
	margin-left: 11.00pt;
	margin-right: 6.50pt;
	margin-top: 4.00pt;
	margin-bottom: 0.00pt;
	text-indent: -11.00pt;
	text-align: left;
	font-family: Arial;
	font-size: 8pt;
}

li.table-of-authorities
{
	margin-left: 11.00pt;
	margin-right: 6.50pt;
	margin-top: 4.00pt;
	margin-bottom: 0.00pt;
	text-indent: -11.00pt;
	text-align: left;
	font-family: Arial;
	font-size: 8pt;
}

p.table-of-figures
{
	margin-left: 22.00pt;
	margin-right: 6.50pt;
	margin-top: 4.00pt;
	margin-bottom: 0.00pt;
	text-indent: -22.00pt;
	text-align: left;
	font-family: Arial;
	font-size: 8pt;
}

li.table-of-figures
{
	margin-left: 22.00pt;
	margin-right: 6.50pt;
	margin-top: 4.00pt;
	margin-bottom: 0.00pt;
	text-indent: -22.00pt;
	text-align: left;
	font-family: Arial;
	font-size: 8pt;
}

p.toa-heading
{
	margin-left: 5.75pt;
	margin-right: 6.50pt;
	margin-top: 6.00pt;
	margin-bottom: 0.00pt;
	text-align: left;
	font-family: Arial;
	font-size: 12pt;
	font-weight: bold;
}

li.toa-heading
{
	margin-left: 5.75pt;
	margin-right: 6.50pt;
	margin-top: 6.00pt;
	margin-bottom: 0.00pt;
	text-align: left;
	font-family: Arial;
	font-size: 12pt;
	font-weight: bold;
}

body
{
	
}

a:link
{
	color: #0000ff;
	text-decoration: underline underline underline underline;
}

a:visited
{
	color: #0000ff;
	text-decoration: underline underline underline underline;
}

p.Bullet
{
	color: #000000;
	font-family: Arial, Verdana, agaramond;
	font-size: 10pt;
	margin-left: 0in;
	list-style: url("../OCEAN_ARROW_SM.GIF");
}

li.Bullet
{
	color: #000000;
	font-family: Arial, Verdana, AGaramond;
	font-size: 10pt;
	margin-left: 0in;
	list-style: url(OCEAN_ARROW_SM.GIF);
}

li.Bullet
{
	color: #000000;
	font-family: Arial, Verdana, AGaramond;
	font-size: 10pt;
	margin-left: 0in;
	list-style: url(OCEAN_ARROW_SM.GIF);
}

p.Notes
{
	background-position: left top;
	background-image: url(none);
	text-align: center;
	border: groove #00509f 2.0pt;
	margin-left: 16.0pt;
	margin-right: 16.0pt;
	padding: 4.0pt;
	font-family: Arial, Verdana, agaramond;
	border-left-width: 0.5pt;
	border-right-width: 0.5pt;
	border-top-width: 0.5pt;
	border-bottom-width: 0.5pt;
	background-color: Transparent;
}

li.Notes
{
	background-position: left top;
	background-image: none;
	text-align: center;
	border: groove #00509f 2.0pt;
	margin-left: 16.0pt;
	margin-right: 16.0pt;
	padding: 4.0pt;
	font-family: Arial, Verdana, AGaramond;
	border-left-width: 0.5pt;
	border-right-width: 0.5pt;
	border-top-width: 0.5pt;
	border-bottom-width: 0.5pt;
	background-color: Transparent;
}

li.Notes
{
	background-position: left top;
	background-image: none;
	text-align: center;
	border: groove #00509f 2.0pt;
	margin-left: 16.0pt;
	margin-right: 16.0pt;
	padding: 4.0pt;
	font-family: Arial, Verdana, AGaramond;
	border-left-width: 0.5pt;
	border-right-width: 0.5pt;
	border-top-width: 0.5pt;
	border-bottom-width: 0.5pt;
	background-color: Transparent;
}

p.Cautions
{
	font-variant: normal;
	font-weight: bold;
	background-color: #ffffd5;
	text-align: center;
	color: #00509f;
	border: groove #00509f 2.0pt;
	margin-left: 16.0pt;
	margin-right: 16.0pt;
	padding: 4.0pt;
	font-family: Arial, Verdana, agaramond;
}

li.Cautions
{
	font-variant: normal;
	font-weight: bold;
	background-color: #ffffd5;
	text-align: center;
	color: #00509f;
	border: groove #00509f 2.0pt;
	margin-left: 16.0pt;
	margin-right: 16.0pt;
	padding: 4.0pt;
	font-family: Arial, Verdana, AGaramond;
}

li.Cautions
{
	font-variant: normal;
	font-weight: bold;
	background-color: #ffffd5;
	text-align: center;
	color: #00509f;
	border: groove #00509f 2.0pt;
	margin-left: 16.0pt;
	margin-right: 16.0pt;
	padding: 4.0pt;
	font-family: Arial, Verdana, AGaramond;
}

p.Warnings
{
	font-variant: normal;
	font-weight: bold;
	text-align: center;
	color: #ff0000;
	border: groove #00509f 3.0pt;
	margin-left: 16.0pt;
	margin-right: 16.0pt;
	margin-top: 4.0pt;
	margin-bottom: 4.0pt;
	padding: 4.0pt;
	border-left-style: Double;
	border-right-style: Double;
	border-top-style: Double;
	border-bottom-style: Double;
	border-left-width: 3pt;
	border-right-width: 3pt;
	border-top-width: 3pt;
	border-bottom-width: 3pt;
	background-color: #ffffd5;
	font-family: Arial, Verdana, agaramond;
}

li.Warnings
{
	font-variant: normal;
	font-weight: bold;
	text-align: center;
	color: #ff0000;
	border: groove #00509f 3.0pt;
	margin-left: 16.0pt;
	margin-right: 16.0pt;
	margin-top: 4.0pt;
	margin-bottom: 4.0pt;
	padding: 4.0pt;
	border-left-style: Double;
	border-right-style: Double;
	border-top-style: Double;
	border-bottom-style: Double;
	border-left-width: 3pt;
	border-right-width: 3pt;
	border-top-width: 3pt;
	border-bottom-width: 3pt;
	background-color: #ffffd5;
	font-family: Arial, Verdana, AGaramond;
}

li.Warnings
{
	font-variant: normal;
	font-weight: bold;
	text-align: center;
	color: #ff0000;
	border: groove #00509f 3.0pt;
	margin-left: 16.0pt;
	margin-right: 16.0pt;
	margin-top: 4.0pt;
	margin-bottom: 4.0pt;
	padding: 4.0pt;
	border-left-style: Double;
	border-right-style: Double;
	border-top-style: Double;
	border-bottom-style: Double;
	border-left-width: 3pt;
	border-right-width: 3pt;
	border-top-width: 3pt;
	border-bottom-width: 3pt;
	background-color: #ffffd5;
	font-family: Arial, Verdana, AGaramond;
}

p.NumberedIndent
{
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	list-style-type: decimal;
	list-style-position: outside;
	color: #000000;
	margin-top: 0.0pt;
	margin-bottom: 4.5pt;
	font-family: Arial, Verdana, agaramond;
	font-size: 10pt;
}

li.NumberedIndent
{
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	list-style-type: decimal;
	list-style-position: outside;
	color: #000000;
	margin-top: 0.0pt;
	margin-bottom: 4.5pt;
	font-family: Arial, Verdana, AGaramond;
	font-size: 10pt;
}

li.NumberedIndent
{
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	list-style-type: decimal;
	list-style-position: outside;
	color: #000000;
	margin-top: 0.0pt;
	margin-bottom: 4.5pt;
	font-family: Arial, Verdana, AGaramond;
	font-size: 10pt;
}

p.LetterIndent
{
	color: #000000;
	margin-left: 12.0pt;
	font-family: Arial, sans-serif;
	list-style: lower-alpha;
	margin-bottom: 6pt;
	font-size: 10pt;
}

li.LetterIndent
{
	color: #000000;
	margin-left: 12.0pt;
	font-family: Arial, sans-serif;
	list-style: lower-alpha;
	margin-bottom: 6pt;
	font-size: 10pt;
}

li.LetterIndent
{
	color: #000000;
	margin-left: 12.0pt;
	font-family: Arial, sans-serif;
	list-style: lower-alpha;
	margin-bottom: 6pt;
	font-size: 10pt;
}

a.expandspot
{
	cursor: hand;
	color: #008000;
	font-weight: bold;
	font-style: italic;
}

span.expandtext
{
	color: #ff0000;
	font-weight: normal;
	font-style: italic;
}

a.dropspot
{
	cursor: hand;
	color: #008000;
	font-weight: bold;
	font-style: italic;
}

a.glossterm
{
	cursor: hand;
	color: #800000;
	font-style: normal;
}

span.glosstext
{
	color: #0000ff;
	font-weight: normal;
	font-style: italic;
}

p.syntax
{
	color: #00509f;
}

li.SYNTAX
{
	color: #00509f;
}

li.SYNTAX
{
	color: #00509f;
}

p.code
{
	font-family: "Comic Sans MS", cursive;
	color: #000080;
	font-size: 10pt;
}

li.CODE
{
	font-family: "Comic Sans MS", cursive;
	color: #000080;
	font-size: 10pt;
}

li.CODE
{
	font-family: "Comic Sans MS", cursive;
	color: #000080;
	font-size: 10pt;
}

p.codeindent
{
	font-family: "Comic Sans MS", cursive;
	color: #000080;
	margin-left: 12pt;
}

li.CODEINDENT
{
	font-family: "Comic Sans MS", cursive;
	color: #000080;
	margin-left: 12pt;
}

li.CODEINDENT
{
	font-family: "Comic Sans MS", cursive;
	color: #000080;
	margin-left: 12pt;
}

MadCap|expandingHead.expandspot
{
	cursor: hand;
	color: #008000;
	font-weight: bold;
	font-style: italic;
}

MadCap|dropDownHotSpot.dropspot
{
	cursor: hand;
	color: #008000;
	font-weight: bold;
	font-style: italic;
}

MadCap|expandingBody.expandtext
{
	color: #ff0000;
	font-weight: normal;
	font-style: italic;
}

MadCap|glossaryTerm.glossterm
{
	cursor: hand;
	color: #800000;
	font-style: normal;
}

MadCap|expandingBody.glossterm
{
	color: #0000ff;
	font-weight: normal;
	font-style: italic;
}

